/*.*
!.gitignore

/bin/
/core/
/documentation/
/export/
/admin/
/sdsd/

**/log/
**/tmp/

/application/controllers/
/application/components/
/application/models/
/application/translations/

/application/views/mobile/
/application/views/admin/
/application/views/azure/
/application/views/flow/

/modules/vt-devutils-master/
/modules/fcPayOne/
/modules/bestit/
/modules/oxps/
/modules/oe/
/modules/functions.php
/modules/composer.json

/out/admin/
/out/azure/
/out/downloads/
/out/flow/
/out/media/
/out/mobile/
/out/pictures/
