<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxextensions">
            <SUBMENU id="test" cl="test_menu"/>
            <!-- <SUBMENU id="mxtheme" cl="theme" list="theme_list">
                <TAB id="tbcltheme_main" cl="theme_main"/>
                <TAB id="tbcltheme_config" cl="theme_config"/>
            </SUBMENU> -->
        </MAINMENU>
        <MAINMENU id="mxcustnews">
            <SUBMENU id="testomat" cl="test_menu"/>
        </MAINMENU>
    </OXMENU>
</OX>
